node_modules/
dist/
vendor/
*.log
.DS_Store
Thumbs.db
*.bak
*.swp
*.swo
*~
.env
.vscode/
.idea/
*.zip
npm-debug.log*
yarn-debug.log*
yarn-error.log*
composer.lock
package-lock.json
yarn.lock
